<ion-header>
  <ion-toolbar>
    <ion-title>
      APPMF
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <ion-grid>
    <ion-row id="center-row">
      <ion-col align-self-center>
        <ion-button  expand="block" color="primary" (click)="goToRegister()">Registrarse</ion-button>
        <span>o</span>
        <hr>
        <span>Ya eres usuario?</span>
        <ion-button expand="block" color="danger" (click)="goToLogin()">Iniciar sesion</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
